.base-pc {
  display: grid;
  width: 80%;
  grid-template-columns: 40% 60%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 3px 8px #999999;
  overflow: hidden;
}

.history-left {
  background-color: #e25f54;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  img {
    height: 150px;
    width: 150px;
    border: 1;
    border-color: white;
    border-radius: 50%;
    background-color: white;
  }
}

.history-right {
  position: relative;
  padding: 40px;
  background-color: white;
  white-space: pre-wrap;

  img {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #efefef;
    border-radius: 50%;
    transform: rotate(-15deg);
    top: 30px;
    right: 36px;
  }

  &::before {
    content: '';
    position: absolute;
    right: 4%;
    top: 4%;
    width: 40%;
    height: 30%;
    border-right: black solid 3px;
    border-top: black solid 3px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 4%;
    bottom: 4%;
    width: 40%;
    height: 30%;
    border-left: black solid 3px;
    border-bottom: black solid 3px;
  }
}

.event-name {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
}

.time {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding: 0 10px;
  border-bottom: black solid 3px;
  width: 175px;
  margin-bottom: 20px;
}

.content {
  text-align: left;
  font-size: 18px;
  line-height: 1.8;
  width: 50%;
  color: #333;
}

img {
  width: 80%;
}

.choices-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;

  .choices {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
    gap: 20px;
    padding: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      height: 6px;
      background-color: #d20001;
      pointer-events: none;
      transform: translateY(-50%);
      left: 40px;
      right: 40px;
    }

    .item {
      aspect-ratio: 1;
      position: relative;
      cursor: pointer;
      user-select: none;
      border: 5px solid #d20001;
      border-radius: 50%;
      background-color: #fff;
      background-size: cover;
      box-shadow: 0 2px 6px rgba(153, 153, 153, 0.6);
      transition:
        transform 200ms ease-in-out,
        box-shadow 200ms ease-in-out;

      &.select {
        transform: scale(1.25);
        box-shadow: 0 3px 8px rgba(210, 0, 1, 0.4);
      }

      &:hover:not(.select) {
        box-shadow: 0 3px 8px rgba(153, 153, 153, 0.8);
      }
    }
  }
}
