.base {
  margin: 30px auto;
  align-items: center;
  max-width: 1024px;

  &.normal,
  &.middle {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  &.mini {
    width: 80%;
  }

  img {
    width: 100%;
  }
}

.introduce {
  display: grid;
  grid-template-rows: 30% 70%;
  max-width: 500px;
  margin: auto;
  align-items: center;

  .title {
    background-color: var(--card-bg-secondary);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    font-size: xx-large;
    white-space: pre-line;
    padding: 20px 30px;
    font-weight: 600;
  }

  .content {
    background-color: var(--card-bg);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    box-shadow: var(--shadow-lg);
    font-size: 20px;
    line-height: 1.8;
    justify-content: start;
    text-align: left;
    padding: 30px;
    height: fit-content;
    color: var(--text-content);

    p {
      margin: 0;
    }

    &.mini {
      font-size: 16px;
      padding: 30px 20px;
      line-height: 1.6;
    }
  }
}
