.base {
  display: grid;

  &.normal {
    grid-template-columns: 60% 40%;
    justify-content: center;
    grid-gap: 20px;
  }

  &.middle {
    height: 2000px;
    grid-template-rows: 1100px 700px 100px;
  }
}

.haibao {
  max-height: 750px;
  max-width: 80%;
  margin: auto;
}

.detail-base {
  display: flex;
  flex-direction: column;
  column-gap: 5px;

  &.middle,
  &.mini {
    margin: auto;
  }
}

.introduce {
  &.normal {
    flex-direction: row;
    text-align: start;
    font-size: 18px;

    .content {
      position: relative;
      left: 50px;
      margin-bottom: 20px;

      .row {
        display: grid;
        grid-template-columns: 110px 100px;
        margin-bottom: 8px;
      }
    }
  }

  &.middle,
  &.mini {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;

    .content {
      margin-bottom: 20px;

      .row {
        display: grid;
        grid-template-columns: 100px 100px;
        margin: 0 10px 8px 30px;
      }
    }

    .small {
      margin: auto;
    }
  }
}

.qr {
  .qr-base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    max-width: 300px;
    margin-top: 20px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .qr-code {
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
