.base-pc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 10vw;
  border-radius: 15px;
  box-shadow: 0 5px 10px #999999;
}

.history-left {
  background-color: #e25f54;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  img {
    height: 150px;
    width: 150px;
    border: 1;
    border-color: white;
    border-radius: 50%;
    background-color: white;
  }
}

.history-right {
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: start;
  padding: 30px;
  display: block;
  white-space: pre-wrap;
  float: right;
  position: relative;

  &.normal::before {
    content: "";
    position: absolute;
    right: 4%;
    top: 4%;
    width: 40%;
    height: 30%;
    border-right: black solid 3px;
    border-top: black solid 3px;
  }

  &.normal::after {
    content: "";
    position: absolute;
    left: 4%;
    bottom: 4%;
    width: 40%;
    height: 30%;
    border-left: black solid 3px;
    border-bottom: black solid 3px;
  }

  img {
    position: absolute;
    width: 250px;
    height: 250px;
    border-color: #efefef;
    background-color: #efefef;
    border-radius: 50%;
    transform: rotate(-15deg);
    top: 30px;
    bottom: 0;
  }
}

.event-name {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.time {
  font-size: xx-large;
  justify-content: center;
  text-align: left;
  padding-inline: 10px;
  border-bottom: black solid 3px;
  width: fit-content;
}

.content {
  text-align: left;
  font-size: x-large;
  width: 40%;
}

.history-choice {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .item {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-color: #fff;
    border-radius: 50%;
    border: 0.4rem solid #d20001;
    user-select: none;
    box-shadow: 0 5px 10px #999;
    cursor: pointer;
    margin: 20px;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &.select {
      width: 120px;
      height: 120px;
    }
  }

  img {
    width: 80%;
  }
}

.red-line {
  position: absolute;
  width: 1400px;
  height: 0.7rem;
  background-color: #d20001;
  z-index: 1;
}
