body,
html {
  margin: 0;
  background-color: #efefef;
}

@font-face {
  font-family: "SC-VF";
  src: url("#{$cubeBaseURL}fonts/SourceHanSansSC-VF.otf");
}

* {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #d20001;
  text-decoration: none;
}

#__nuxt {
  width: 100%;
  font-family: "SC-VF";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d2000180;
  border-radius: 3px;

  &:hover {
    background: #d20001;
  }
}
