img {
  width: 40%;
  object-fit: cover;
}

.content {
  font-size: 18px;
  line-height: 1.8;
  width: 85%;
  margin: auto;
  margin-bottom: 16px;
  text-align: start;
  text-indent: 2em;
  color: #333;

  &:last-of-type {
    margin-bottom: 24px;
  }
}