.base {
  display: grid;
  grid-row-gap: 30px;
  width: 80%;
  margin: 40px auto;

  #img3 {
    background-size: 65%;
  }

  #img4 {
    background-size: 65%;
  }

  &.normal,
  &.middle {
    grid-template-columns: 1fr 1fr;

    .img {
      width: 200px;
      height: 200px;
    }

    .item {
      margin: auto;
    }
  }

  &.mini .item {
    display: grid;
    grid-template-columns: 40% 60%;

    .img {
      width: 100px;
      height: 100px;
    }

    .text {
      width: 80%;
    }
  }

  .item {
    cursor: pointer;

    .img {
      margin: auto;
      border-radius: 50%;
      background-color: var(--card-bg);
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 5px 10px var(--card-shadow);
    }
  }
}
