.base {
  margin: auto;
  display: grid;

  &.normal {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }

  &.middle {
    width: 75%;
  }

  &.middle,
  &.mini {
    grid-template-rows: repeat(4, auto);
    grid-gap: 8px;
    background: rgb(239, 239, 239);
  }
}

.wechat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;

  .introduction {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  img {
    width: 125px;
  }
}

.introduction {
  font-size: 20px;
  line-height: 1.8;
  text-indent: 2em;
  text-align: start;
  padding: 0 20px;
}

#email-img {
  margin-top: 20px;
  width: 50%;
}

.product-item {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 10px 0;
  background: white;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px;
    box-shadow: 0 1px 5px #999;
  }
}

.detail {
  position: fixed;
  left: 0rem;
  bottom: 0;
  width: 100%;
  height: 70vh;
  background: white;
  border-radius: 15px;
  z-index: 1;

  .title {
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 5px solid #d20001;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    .icon {
      position: relative;
      top: 10px;
      margin: auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px;
      box-shadow: 0 1px 5px #999;
    }
  }

  .content {
    text-align: start;
    width: 80%;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
    color: #333;
  }

  img {
    position: absolute;
    bottom: 20px;
    width: 50px;
  }
}

.return-button {
  transform: translateX(-50%);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
