.shiming-base {
  width: 80%;
  margin: auto;
  align-items: center;

  &.normal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }

  &.middle {
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 50px;
  }

  &.mini {
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 5px;
    padding: 10px;
  }

  .shiming-img {
    width: 80%;
    min-width: 200px;
    margin-bottom: 10%;
  }
}

.shiming-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10%;

  &-img {
    width: 100%;
  }

  &.middle {
    margin-top: 30px;
  }
}

.shiming {
  text-align: start;
  align-items: center;
  padding-left: 30px;
  border-left: 5px solid var(--primary-color);
  height: fit-content;

  &.mini {
    border-left: none;
    padding-left: 0;
    font-size: 16px;
  }

  h2 {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 28px;
  }

  pre {
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-secondary);
  }
}

.jiyu {
  margin-top: 20px;
}

.yixing-content {
  text-align: start;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.8;
  text-indent: 2em;
  width: 85%;
  margin: 20px auto;
  color: var(--text-secondary);

  &.mini {
    font-size: 16px;
    text-indent: 2em;
  }
}

.shenghuo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;

  #img1,
  #img2,
  #img3 {
    width: 60%;
    margin: auto;
  }

  .shenghuo-imgs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    width: 80%;

    img {
      width: 50%;
    }
  }

  .content {
    font-size: 18px;
    line-height: 1.8;
    text-align: start;
    text-indent: 2em;
    color: var(--text-secondary);
    margin: 16px 0;
  }

  &.mini .content {
    font-size: 16px;
  }
}
